*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(
135deg,
#050816,
#0f172a,
#1e1b4b
);

font-family:sans-serif;
}

.login-box{

width:90%;
max-width:350px;

padding:30px;

border-radius:20px;

background:rgba(15,23,42,.9);

text-align:center;

color:white;

box-shadow:
0 0 20px #00e5ff;
}

h1{
margin-bottom:20px;
}

button{

width:100%;

padding:15px;

margin-top:20px;

border:none;

border-radius:12px;

cursor:pointer;

background:#00e5ff;

font-size:16px;
font-weight:bold;
}

