*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

height:100vh;

display:flex;

justify-content:center;
align-items:center;

background:#050816;

font-family:sans-serif;
}

.setup-box{

width:90%;
max-width:350px;

background:#0f172a;

padding:25px;

border-radius:20px;

box-shadow:
0 0 20px #00e5ff;
}

.setup-box h2{
color:white;
margin-bottom:15px;
}

input{

width:100%;

padding:15px;

margin-bottom:15px;

border:none;

border-radius:10px;
}

button{

width:100%;

padding:15px;

border:none;

border-radius:10px;

background:#00e5ff;

font-weight:bold;
}

